:root {
    --primary:#D4B100
}

.t-btn {
    min-width: 110px;
    border-radius: 4rem;
    font-size: 14px ;
    outline: none;
    border: none;
    white-space: nowrap;
    cursor: pointer; 
    padding: 6px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--primary {
    background-color: var(--primary);
    color:white;

}

.btn--outline {
    background-color: transparent;
    color:white;
    border: 1px solid white   
}

.btn--desktop {
    font-size: 14px;
}


.btn--mobile {
    text-align: center;
    border-radius: 4rem;
    font-size: 14px;
 
}