.footer-container {
    color: white;
    font-size: 14px;
}
.footer-container a {
color:rgb(180, 180, 180)
}
.footer-container a:hover{
    color:#bb9800;

}

.footer-top {
    background-color:#282828;
    padding-top:55px;
    padding-bottom:55px

}
.footer-menu-container {
    background-color:#141414;
    padding-top:55px;
    padding-bottom:55px
}

.footer-container h4 {
    font-size: 14px;
}

.footer-container li {
    padding-top:6px;
    padding-bottom:6px;
}
.copyright {
    background-color:#282828;
    font-size: 12px;  
    color:rgb(180, 180, 180)
}
.copyright-container {
    padding-top:15px;
    padding-bottom:15px
}
.social-share {
    display: flex;
    grid-gap: 24px;
    font-size: 21px;
}